VITE_CONTEXT_URL=https://<PUBLIC_URL>/membershipms
VITE_CONTEXT_URL_LOCAL=http://localhost:8080
VITE_STORAGE_TOKEN=ACTION_IN_THAI_MEMBERSHIP_TOKEN
VITE_STORAGE_USER=ACTION_IN_THAI_MEMBERSHIP_USER
VITE_STORAGE_MENU=ACTION_IN_THAI_MEMBERSHIP_MENU
VITE_STORAGE_UPLOAD_TIME=10000
VITE_STORAGE_DOWNLOAD_TIME=15000
VITE_STORAGE_CHECK_IN=scanIn
VITE_STORAGE_CHECK_OUT=scanOut

VITE_AUTH_GOOGLE_ID="<YOUR_GOOGLE_OAUTH_CLIENT_ID>"
VITE_AUTH_FACEBOOK_ID="<YOUR_FACEBOOK_APP_ID>"
VITE_AUTH_LINE_LIFF="<YOUR_LINE_LIFF_ID>"
